---
import { ArrowUp, Github } from "lucide-react";
import Container from "./Container.astro";
import Logo from "./Logo.astro";
import type { Lang } from "../i18n/utils";
import { t, getLocalizedPath } from "../i18n/utils";

interface Props {
  lang: Lang;
}

const { lang } = Astro.props;

const GITHUB_URL = "https://github.com/HelioFernandes404/openflashcards";
const LICENSE_URL = `${GITHUB_URL}/blob/main/LICENSE`;

const currentYear = new Date().getFullYear();
---

<footer class="w-full pt-25 pb-12 lg:pb-20 bg-surface-container-low border-t border-outline-variant">
  <Container>
    <div
      class="w-full flex flex-col md:flex-row items-center justify-between gap-8 md:gap-0 mb-10"
    >
      <Logo lang={lang} href={getLocalizedPath(lang, "/")} />

      <div class="w-full flex items-center justify-center gap-3">
        <a
          href={GITHUB_URL}
          target="_blank"
          rel="noopener noreferrer"
          aria-label={t(lang, "footer.social.github")}
          class="bg-surface-container-high p-2.5 hover:bg-surface-container-highest transition-colors text-on-surface rounded-md border border-outline cursor-pointer"
        >
          <Github size={18} />
        </a>
      </div>

      <a
        href="#home"
        class="w-full max-w-fit flex items-center justify-center text-center text-base font-medium cursor-pointer border border-outline bg-surface-container text-on-surface py-2.5 gap-2 rounded-md px-4 hover:bg-surface-container-high transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-primary-500"
      >
        {t(lang, "footer.backToTop")}
        <ArrowUp size={20} />
      </a>
    </div>

    <hr class="border-outline-variant mt-0 mb-8" />

    <div
      class="w-full flex flex-col lg:flex-row items-center justify-center lg:justify-between text-center md:text-start gap-4 md:gap-2 text-on-surface-variant"
    >
      <p class="max-w-62 md:max-w-full text-base order-1 lg:order-2">
        &copy; {currentYear}
        {t(lang, "footer.copyright")}
      </p>

      <ul
        class="flex flex-col sm:flex-row sm:gap-6 gap-4 list-none order-1 lg:order-2"
      >
        <li>
          <a
            class="text-on-surface-variant hover:text-on-surface font-normal underline transition-colors"
            href={GITHUB_URL}
            target="_blank"
            rel="noopener noreferrer"
          >
            GitHub
          </a>
        </li>
        <li>
          <a
            class="text-on-surface-variant hover:text-on-surface font-normal underline transition-colors"
            href={LICENSE_URL}
            target="_blank"
            rel="noopener noreferrer"
          >
            MIT License
          </a>
        </li>
      </ul>
    </div>
  </Container>
</footer>
